body{
    margin: 0px;
}

.menu {
    background-color: black;  
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav{
    margin-right: 100px;
    padding: 0px 60px 0px 60px;
}

.logo {
    width: 200px;
    height: 80px;
    margin-left: 60px;
}

.enlace_menu{
    list-style: none;
    text-decoration: none;
    color: white;
    justify-content: space-between;
    padding: 0px 25px 0px 25px;

}

.enlace_menu i{
    justify-content: space-between;
    padding: 0px 10px;
}

@media (max-width:700px) {
    .enlace_menu{
        flex-direction: column;
    }
    .logo{
        align-items: center;
    }
    .enlace_menu i{
       
    }

}